
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box; /* More Responsive */
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
}
  
body {
    background-color: whitesmoke;
    min-width: 320px; /* Mobile-friendly minimum */
    overflow-x: hidden; /* no horizontal scrolling */
    margin: 0 auto;
    padding: 20px;
}

@media (min-width: 768px) {
    aside { width: 25%; }
    main { width: 75%; }

    .sidebar-title {
        font-size: 1.5rem;                   
    }

    p {
        font-size: 1.35rem; 
    }
    
    .sidebar-option {
        font-size: 1.35rem;        
    }
}

h1, h2, h3, h4, h5, h6, figcaption {
    padding: 10px 15px; 
    max-width: 100%; /* Constrain to container */
    line-height: 1.6; 
    text-align: center;
}

.sidebar-title, p {
    text-align: center; 
    font-size: 1.4rem; 
    overflow-wrap: break-word
}


header, nav, aside, main, article, section, figure, p, footer {
    border-radius: 10px; /* Rounded Shapes */
    padding: 15px;
    margin-bottom: 15px;
}


header {
    background-color: #a1d1e0; 
    
}

/* Navigation */
nav {
    background-color: #b19cd9; 
}

/* Layout container */
.container {
    display: flex;
    gap: 15px;
}

/* On the left side */
aside {
    background-color: #cb99c9; 
    width: 30%;               
}

/* On the right side */
main {
    background-color: #ffd1dc; 
    width: 70%;
}

article {
    background-color: #ffb3ba; 
}

.round-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

section {
    background-color: #a1c7e0; 
}

figure {
    background-color: #f3cfa6; 
    text-align: center;
}

/* Paragraph */
p {
    background-color: #b5ead7; 
}

.pmenor {
    font-size: 1.1rem; 
}

footer {
    background-color: #f5efbd; 
    text-align: center;
    clear: both;
}
